<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/js/disableField.js"></script>
</head>
<body>
<h1 style="text-align:center;margin:20px;">
    DATAVERSE PROJECT <br>
    <small>User Display app</small>
</h1>

<div id="component-edit"></div>

<script src="/built/bundle.js"></script>

</body>
</html>